html * {
  outline: 1px solid red;
}
h1{
  color:blue;
  font-size: 200%;
  font-family: Georgia, serif;
  text-align: center;
}
h2{
  color: green;
  font-size: 150%;
  font-family: Arial, Verdana, sans-serif;
  text-align: center;
}